**/.cache/
**/.ipynb_checkpoints/
**/.temp/
**/.tmp/
**/.vs/
**/.vscode/
**/*.a
**/*.bin
**/*.dll
**/*.dylib
**/*.exe
**/*.lib
**/*.o
**/*.obj
**/*.out
**/*.so*
**/*.swp
**/build/
**/GPATH
**/GRTAGS
**/GTAGS
**/out/
**/temp/
**/tmp/
CMakeSettings.json
document/doxygen/html/
document/doxygen/latex/
document/doxygen/man/
document/doxygen/rtf/
document/doxygen/xml/
install/
thirdparty/
