**/.cache/
**/.ipynb_checkpoints/
**/.temp/
**/.tmp/
**/.vs/
**/.vscode/
**/*.a
**/*.bin
**/*.dll
**/*.dylib
**/*.exe
**/*.lib
**/*.o
**/*.obj
**/*.out
**/*.so*
**/*.swp
**/build/
**/CMakeSettings.json
**/GPATH
**/GRTAGS
**/GTAGS
**/install/
**/out/
**/temp/
**/thirdparty/
**/tmp/
document/doxygen/html/
document/doxygen/latex/
document/doxygen/man/
document/doxygen/rtf/
document/doxygen/xml/
src/Mustard/Version.inl
